[package]
name = "nu_plugin_dns"
version = "3.0.8"
authors = ["Skyler Hawthorne <skyler@dead10ck.dev>"]
description = "A DNS utility for nushell"

repository = "https://github.com/dead10ck/nu_plugin_dns"
edition = "2021"
license = "MPL-2.0"
readme = "README.md"
keywords = ["dns", "dig", "nu", "nushell", "plugin"]
categories = ["command-line-utilities"]
exclude = [ ".github/" ]

[package.metadata.release]
allow-branch = [ "main" ]


[[bin]]
name = "nu_plugin_dns"
bench = false

[lib]
bench = false

[dependencies]
chrono = { version = "0.4", features = [ "std" ], default-features = false }
futures-util = "0.3.31"
nu-plugin = "0.102.0"
nu-protocol = "0.102.0"

tokio = "1.43.0"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [ "env-filter" ] }

# rustls and webpki must keep in lockstep with hickory
rustls = "0.21.12"
webpki-roots = "0.25.4"
tokio-util = { version = "0.7.13", features = ["rt"] }

[dependencies.hickory-resolver]
version = "0.24.3"
features = [
  "dnssec-ring",
  "dns-over-rustls",
  "dns-over-https",
  "dns-over-https-rustls",
  "dns-over-quic",
]

[dependencies.hickory-proto]
version = "0.24.3"
features = [
  "dnssec-ring",
  "backtrace",
  "dns-over-rustls",
  "dns-over-https",
  "dns-over-https-rustls",
  "dns-over-quic",
]

[dependencies.hickory-client]
version = "0.24.3"
features = [
  "dnssec-ring",
  "backtrace",
  "dns-over-rustls",
  "dns-over-https",
  "dns-over-https-rustls",
  "dns-over-quic",
]

# For termux
# [patch.crates-io]
# pwd = { git = "https://gitlab.com/dead10ck/pwd", branch = "termux" }
